In [21]:
# Read the input from keyboard
# i/p  "23 44 67 92 99"
# o/p : [3,4,7,2,9]
# Try the problem in two ways
    # to update the same list 
    # to create a new list
    
l = []
for i in input().split():
    l.append(int(i[-1]))
l

23 45 67

[3, 5, 7]

In [28]:
#n= input().split()
n = [int(i[-1]) for i in input().split()]
n

45 69

[5, 9]

In [31]:
# Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
# o/p1: [3,2,3,5,0]
# o/p2 : [1,3,3,5,11]
n1 = input().split()
n2 = input().split()
o1 = []
o2 = []
for i in range(5):
    o1.append(int(n1[i])%int(n2[i]))
    o2.append(int(n1[i])//int(n2[i]))
print(o1)
print(o2)

10 20 30 60 99
7 6 9 11 9
[3, 2, 3, 5, 0]
[1, 3, 3, 5, 11]

In [ ]:
#out1 = [int(n1[i])%int(n2[i])  for i in ]

In [37]:
#Read the inputs from keyboard
# i/p1: "10 20 30 60 99"
# i/p2: "7 6 9 11 9"
# i/p3: "56 78 89 9 52"
#o/p [[10,20,30,60,99],[7,6,9,11,9],[56,78,89,9,52]]
n1 = input().split()
n2 = input().split()
n3 = input().split()
l = []
l.append(n1)
l.append(n2)
l.append(n3)
l

10 20 20
15 25 25
25 265 25

[['10', '20', '20'], ['15', '25', '25'], ['25', '265', '25']]

In [89]:
# Get the input from keyboard Hoiw many names you want to read
# Read the names from keybord one by one. Store them in a list.
# update the same list with names as lowercase letters
# Get the names in a new list as output which starts with vowels
# Get the names in a new list which ends with consonants
# Get the names in a new list which will starts with vowels and ends with consonants
# Get the names in new list which will start with consonats and ends with vowel
# Get the names in a list which have length in range(5,10). Both 5 and 10 are inclusive
n = int(input())
l = []
l2 = []
l3 = []
v ="aeiou"
for i in range(n):
    l.append(input().lower())
for i in l:
    if i[0] in v:
        l2.append(i)
    if i[-1] not in v:
        l3.append(i)

print(l2)
print(l3)

5
ravi
rajesh
rakesh
uma
sushma
['uma']
['rajesh', 'rakesh']

In [102]:
l1 = ['arthy','amrutha','rtyi','ravi']
v = "aeiou"
l4 = []
for i in l1: 
    if i[0] not in v:
        if i[-1] in v:
            l4.append(i)
l4

['rtyi', 'ravi']

In [104]:
list4 = [i for i in l1 if i[0] not in v if i[-1] in v]
list4

['rtyi', 'ravi']

In [105]:
l = ['ravi','sushma','rakesh','rajesh']
for i in l:
    print(len(i))

4
6
6
6

In [98]:
length = []
for i in l:
    if len(i)>=5 and len(i)<=10:
        length.append(i)
print(length)

['sushma', 'rakesh', 'rajesh']

In [100]:
length = [i for i in l if len(i)>=5 and len(i)<=10]
length

['sushma', 'rakesh', 'rajesh']

In [16]:
# Read the emails of a string from keyboard until the user enters 'done'.
# From the mails get the domin names of the mails in list
# example "ml.ai@gmail.com" , domain is "gmail.com" here
l5 = []
while True:
    n = input()
    if n=='done':
        break
    s=n.index("@")
    l5.append(n[s+1:])

dfgh@dfghj
dfghj@dfghjk
sdfghj@ghjk
done

In [17]:
l5

['dfghj', 'dfghjk', 'ghjk']

In [19]:
# read the number of students from user
# Read the details of students into a list. Each sublist contains below details
    # studentName,RollNumber,Marks,Language in a single line
    # example "raj,416,56,python"
# Create a list in which 
    # each sublist conatains three elements
        # First element is a tuple contains name and roll number
        # second element is marks
        # third element is language 
# From the list get the  different languages avaialble in the data
n = int(input())
l_students = []
for i in range(n):
    l_students.append(input().split())

3
raju 213 90 python
ravi 304 80 c
tina 506 78 c++

In [20]:
l_students

[['raju', '213', '90', 'python'],
 ['ravi', '304', '80', 'c'],
 ['tina', '506', '78', 'c++']]

In [21]:
for i in l_students:
    print(i[0:3])

['raju', '213', '90']
['ravi', '304', '80']
['tina', '506', '78']

In [36]:
new_list = [[tuple(i[0:2]),i[2],i[3]] for i in l_students]

In [37]:
# read two lists from user. Two list conatins the names of students
# Get the names which are there in both lists
# Get the names which are there in alteast one list
# Get the names which are there in list1 not there in list2
# Get the names which are there in list2 not there in list1

In [38]:
new_list

[[('raju', '213'), '90', 'python'],
 [('ravi', '304'), '80', 'c'],
 [('tina', '506'), '78', 'c++']]

In [46]:
l1 = input().split()
l2 = input().split()
final_list = []
for i in l1:
    #print(i)
    for j in l2:
        #print(j)
        if i==j:
            final_list.append(i)

arun ravi rajesh ramu
ravi kiran arun ravindra

In [47]:
final_list

['arun', 'ravi']

In [14]:
# Craete multipliaction table of a number
# Read the number from user
# Example :3

# Later modify the code so that you can read the lower bound and upperbound for the table. 
# for the above case lowerbound is 1 and upper bound is 10
for j in range(1,11):
    for i in range(1,4):
        print(i,"X",j,"=",i*j,end="\t")
    print('')

1 X 1 = 1	2 X 1 = 2	3 X 1 = 3
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30

In [ ]:
# take a list of numbers or names with repetetive values
# Get a list as output
    # each sublist has the number and how many times it is there in the list
# The ouput shoud be in sorted order based on count.
# If the count is equal different numbers. Sort them based on numbers
# Example : [23,45,23,77,67,45,45,2,3,3,2,3]
# output :[[3,3],[45,3],[2,2],[23,2],[67,1],[77,1]]

In [99]:
num = [23,45,23,77,67,45,45,2,3,3,2,3]
#count = 0
new_list = []
for i in num:
    i = num.count(i)>1
print(new_list.append(x))

None

In [77]:
set([x for x in num if num.count(x) > 1])

{2, 3, 23, 45}