In [51]:
def file_read(filename):
    f = open(filename,'r')
    if f.mode=='r':
        x = f.read()
        print(type(x))
        l = eval(x)
    return l

In [54]:
l2

[{'student_id': 4420,
  'round__round_name': 'Written Test',
  'status': 'N',
  'placement_id': 1},
 {'student_id': 4420,
  'round__round_name': 'Written Test',
  'status': 'Y',
  'placement_id': 2},
 {'student_id': 4420,
  'round__round_name': 'GD',
  'status': 'N',
  'placement_id': 1},
 {'student_id': 4420,
  'round__round_name': 'GD',
  'status': 'Y',
  'placement_id': 2},
 {'student_id': 4420,
  'round__round_name': 'Technical',
  'status': 'N',
  'placement_id': 1},
 {'student_id': 4420,
  'round__round_name': 'Technical',
  'status': 'Y',
  'placement_id': 2},
 {'student_id': 4420,
  'round__round_name': 'HR',
  'status': 'Y',
  'placement_id': 2}]

In [56]:
l1 = file_read('placements.txt')
l2 = file_read('placements_students.txt')

<class 'str'>
<class 'str'>

In [57]:
type(l1)

list

In [58]:
l1[0]

{'student_id': 4420,
 'placement_id': 1,
 'placement__company_name': 'promizeit',
 'placement__date_of_interview': 'datetime.date(2020, 2, 11)',
 'placement__job_description': 'test',
 'placement__eligibility_criteria': 'test'}

In [59]:
d = {}
d = l1[0]
d

{'student_id': 4420,
 'placement_id': 1,
 'placement__company_name': 'promizeit',
 'placement__date_of_interview': 'datetime.date(2020, 2, 11)',
 'placement__job_description': 'test',
 'placement__eligibility_criteria': 'test'}

In [66]:
lis = []
for i in l2:
    d1 = {}
    if i['placement_id']==1:
        d1['round_name'] = i['round__round_name']
        d1['status'] = i['status']
        #print(d1)
        lis.append(d1)
lis

[{'round_name': 'Written Test', 'status': 'N'},
 {'round_name': 'GD', 'status': 'N'},
 {'round_name': 'Technical', 'status': 'N'}]

In [68]:
d['status']=lis
d

{'student_id': 4420,
 'placement_id': 1,
 'placement__company_name': 'promizeit',
 'placement__date_of_interview': 'datetime.date(2020, 2, 11)',
 'placement__job_description': 'test',
 'placement__eligibility_criteria': 'test',
 'status': [{'round_name': 'Written Test', 'status': 'N'},
  {'round_name': 'GD', 'status': 'N'},
  {'round_name': 'Technical', 'status': 'N'}]}

In [75]:
t = int(input())
for i in range(t):
    ab = input().split()
    a = int(ab[0])
    print(a)
    b = int(ab[1])
    print(b)
    s = luckyNumber(a,b)

2
12 34
12
34
23 45
23
45
23

In [80]:
def isPrime(n):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                #print("not prime")
                break
        else:
            return True

In [81]:
isPrime(11)

True

In [38]:
def sum_square(num):
    for i in range(num):
        square = 0
        sum1 = 0
        while(num!=0):
            rem = num%10
            a = rem*rem
            sum1 = sum1+rem
            square = square+a
            num=num//10
        return(sum1,square)

In [79]:
sum_square(26)

(8, 40)

In [142]:
def luckyNumbers(n1,n2):
    count = 0
    for i in range(n1,n2+1):
        x,y = sum_square(i)
        if isPrime(y)==True:
            count += 1
    return count

In [144]:
luckyNumbers(1,20)

4

In [48]:
# Read 4 elements of a list from keyboard
l = []
l.append(input("enter 1 element"))
print(l)

enter 1 element56
['56']

In [50]:
print(int(l[0]))

56

In [52]:
type(l[0])

str

In [90]:
li = [int(i) for i in input().split()]
li

12 23 34 54

[12, 23, 34, 54]

In [86]:
li = []
for i in range(4):
    li.append(int(input()))
li

12
23
34
56

[12, 23, 34, 56]

In [87]:
s = input()
li = s.split()
for i in range(len(li)):
    li[i] = int(li[i])
li

12 23 45

[12, 23, 45]

In [66]:
l = [int(i) for i in input().split()]
l

32 54 32 43

[32, 54, 32, 43]

In [91]:
l = list(map(int,input().split()))
l

12 23 43 54

[12, 23, 43, 54]

In [67]:
l = list(map(int,input().split()))
l

32 43 21 23

[32, 43, 21, 23]

In [72]:
marks = []
for i in range(4):
    marks.append(list(map(int,input().split())))
marks

1 2 3 4
2 5 6 7
2 4 6 8
8 9 7 6

[[1, 2, 3, 4], [2, 5, 6, 7], [2, 4, 6, 8], [8, 9, 7, 6]]

In [2]:
marks = []
for i in range(3):
    l = []
    l.append(input())
    l.extend(list(map(int,input().split())))
    marks.append(l)
print(marks)

2
152
12 12 12
125
12 12 12
12
[['2', 152], ['12 12 12', 125], ['12 12 12', 12]]

In [4]:
id_marks = []
for i in range(3):
    id_marks.append([(int(input()))])
id_marks

2
3
4

[[2], [3], [4]]

In [ ]:
marks = []
for i in range(3):
    l = []
    l.append(int(input()))
    l.extend(list(map(int,input().split())))
    marks.append(l)
print(marks)

In [92]:
marks = []
for i in range(3):
    marks.append([int(input())])
    marks[i].extend(list(map(int,input().split())))
marks

213
12 23 45
312
12 54 34
321
12 32 24

[[213, 12, 23, 45], [312, 12, 54, 34], [321, 12, 32, 24]]

In [9]:
len(marks)

3

In [15]:
dict1 = {}
for i in marks:
    dict1[i[0]]=sum(i[1:])
dict1

{213: 6, 312: 9, 564: 15}

In [ ]:
(lambda x: sum(i[1:]))

In [22]:
d = {}
for i in marks:
    s = sum(i[1:])
    mn = min(i[1:])
    ma = max(i[1:])
    ag = s/len(i[1:])
    d[i[0]]=[s,mn,ma,ag]
d

{213: [6, 1, 3, 2.0], 312: [9, 2, 4, 3.0], 564: [15, 2, 7, 5.0]}

In [105]:
n = int(input())
#len(n)
print(n**2)

4
16

In [129]:
import numpy as np
a = np.arange(0,50,0.5)
len(a)

100

In [121]:
if __name__ == '__main__':
    n = int(input().strip())
    if n%2==0 and (n in range(2,6) or n>20):
        print("Not Weird")
    else:
        print("Weird")

5
Weird

In [ ]:
def is_leap(year):
    
    if (year%4)==0 and (year%400==0 or year%100!=0):
        leap = True
    # Write your logic here
    else:
        leap = False
    return leap

year = int(input())
print(is_leap(year))

In [154]:
def fib(n):
    a,b = 0,1
    while a<n:
        print(a,end="")
        a,b = b, a+b

In [155]:
fib(5)

01123

In [156]:
fruits = ['banana','orange','apple']
list(enumerate(fruits))

[(0, 'banana'), (1, 'orange'), (2, 'apple')]